<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="material_design.css">
    <link rel="stylesheet" href="https://material.angularjs.org/latest/angular-material.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Angular Material Dependencies -->
    <script src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>

    <!-- Routes -->
    <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-resource.min.js"></script>
    <script src="app.js"></script>
    <script src="routes.js"></script>
    <script src="main.ctrl.js"></script>
    <script src="popular_info_service.js"></script>
</head>

  <body ng-app='popularListApp'>
    <header ng-controller='MainController as main' ngCloak=''>
       <section layout="row">
        <div class="container main-content-border">
          <div class="nav navbar-nav navbar-left">
            <div layout="column" layout-fill="" layout-align="top center">
              <a class="navbar-logo" href="/">Popular List</a>
            </div>
          </div>

          <div class="nav navbar-nav navbar-right">
            <div layout="column" layout-fill="" layout-align="top center">
                <md-button ng-click='main.toggleRight()' ng-hide='main.isOpenRight()' class='md-primary material-menu'>
                  <i class="material-icons md-36">menu</i>
                </md-button>
            </div>
          </div>
          <div flex=''></div>

          <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" flex=''>
            <md-toolbar class="md-theme-light">
              <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl as rightSideNav" layout-padding="" flex='' layout="vertical" layout-fill>
              <ul>
                <li><a href="/" class='sidenav-link'>Home</a></li>
                <li><a href="#/movies" class='sidenav-link'>Movies</a></li>
                <li><a href="#/shows" class='sidenav-link'>Shows</a></li>
                <li>
                  <md-button ng-click="rightSideNav.close()" class="md-primary" ng-transclude=''>
                    Close Sidenav Right
                  </md-button>
                </li>
              </ul>
            </md-content>

          </md-sidenav>


        </div>
      </section>
    </header>

    <md-content flex layout-padding>
      <main class="main-content-border" role="main">
        <h1 class="page-title">Products</h1>
        <div class="collection-products products-per-row-2">
          <article class="product-list-item" id="product-list-item-290635593">
            <figure class="product-list-item-thumbnail">
              <a href="/products/storyclip">
                <img src="//cdn.shopify.com/s/files/1/0434/2805/products/white-clip_large_grande.jpg?v=1398787701" alt="White">
              </a>
            </figure>

            <div class="product-list-item-details">
              <p class="product-list-item-vendor vendor meta">StoryClip</p>
              <p class="product-list-item-price">
                <span class="price money">$149.00</span>
                <a href='https://www.amazon.com'><md-button class="md-raised md-primary">Buy Now</md-button></a>
              </p>
            </div>
          </article>
        </div>
      </main>
    </md-content>

    <md-content flex layout-padding>
      <div class="mailing-list-signup ">
          <h3 class="section-title">KEEP IN TOUCH WITH PIXEL UNION</h3>
          <p>Like what you see? Join our newsletter to catch updates and hear about new theme releases.</p>
        <form action="http://pixelunion.us6.list-manage.com/subscribe/post?u=c36736a9501a95c7eb561d317&amp;id=0dd81e0595" method="post" name="mc-embedded-subscribe-form" target="_blank">
          <md-input-container class="md-icon-float">
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <label>Email</label>

            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
          </md-input-container>
        </form>
      </div>
    </md-content>

    <div class="container">
        <div ng-view></div>
    </div>
  </body>
</html>
