<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="material_design.css">
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Angular Material Dependencies -->
    <script src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>

    <!-- Routes -->
    <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-resource.min.js"></script>
    <script src="app.js"></script>
    <script src="routes.js"></script>
    <script src="main.ctrl.js"></script>
    <script src="popular_info_service.js"></script>
</head>

  <body ng-app='popularListApp'>
    <header ng-controller='MainController as main' ngCloak=''>
      <!-- <nav class="navbar navbar&#45;default"> -->
       <section layout="row">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Popular List</a>
          </div>

            <div class="nav navbar-nav navbar-right">
              <div layout="column" layout-fill="" layout-align="top center">
                  <md-button ng-click='main.toggleRight()' ng-hide='main.isOpenRight()' class='md-primary'>
                    <i class="material-icons md-36">menu</i>
                  </md-button>
              </div>
            </div>
            <div flex=''></div>

          <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" flex=''>
            <md-toolbar class="md-theme-light">
              <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl as rightSideNav" layout-padding="" flex='' layout="vertical" layout-fill>
              <ul>
                <li><a href="/" class='sidenav-link'>Home</a></li>
                <li><a href="#/movies" class='sidenav-link'>Movies</a></li>
                <li><a href="#/shows" class='sidenav-link'>Shows</a></li>
                <li>
                  <md-button ng-click="rightSideNav.close()" class="md-primary" ng-transclude=''>
                    Close Sidenav Right
                  </md-button>
                </li>
              </ul>
            </md-content>
          </md-sidenav>


        </div>
      </section>
      <!-- </nav> -->
    </header>

    <div class="container">
        <div ng-view></div>
    </div>
  </body>
</html>
