.material-icons {
  font-size: 36px !important;
}
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.sidenav-link {
  font-size: 18px;
}
.md-sidenav-right li {
  padding-bottom: 6px;
}
