
  <div class="container">

    <div class="clearfix"></div>
    <h3>Add a new TV Show</h3>
    <form name="main.addForm" class="form" ng-submit='main.addShow()'>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="main.new.title" required />
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="number" min="1900" max="2030" class="form-control" ng-model="main.new.year" required />
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Favorite: <input type="checkbox" ng-model="main.new.favorite" /></label>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
            </div>
        </div>
    </form>


    <div class="input-group">
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="main.searchInput">
    </div>
    <p>{{main.searchInput}}</p>
  </div>
